body{

    width:300px;

    padding:20px;

    font-family:Arial;

    background:#121212;

    color:white;

}

h1{

    color:#00ff88;

}

button{

    width:100%;

    padding:10px;

    border:none;

    background:#00ff88;

    cursor:pointer;

    font-size:16px;

}